body{
 margin: 0%;
 padding: 0%;
 font-family: 'Montserrat', sans-serif;
}
.contact-area{
 height: 500px;
 padding-bottom: 150px;
}
.half-width{
 float: left;
 width: 40%;
 margin-left: 5%;
 padding-left: 2%;
}
h2{
 font-size: 50px;
 margin-top: 52px;

}
h2 span{
 color: orange;
}
.half-width img{
 width: 100%;
}
.order-button{
 text-decoration: none;
 background: linear-gradient(45deg, lightsalmon, tomato);
 padding: 10px 40px;
 border-radius: 30px;
 color: white;
 font-weight: 400;
}
.half-width img{
 width: 60%;
}
.contact-area{
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
/* margin-top: 10%; */

}
.contact-width{
 margin-top: 2%;
}
.contact-button{
 text-decoration: none;
 background: linear-gradient(45deg, lightsalmon, tomato);
 padding: 10px 40px;
 border-radius: 30px;
 color: white;
 font-weight: 400;
}
 .recipies{
 text-align: center;
 word-wrap: break-word;
 word-spacing: 1px;

}
/*
.main-recepie{
 width: 20%;
 float: left;
 display: flex;

} */
.main-recepie{
 width: 90%;
 margin: 5%;
 padding: 3%;
 display: flex;

}
.main-recepie-one{
  width: 30%;
 padding: 2%;
 margin: 3%;
 height: 100%;

 box-shadow: 10px 10px 40px grey;
 border-radius: 25px;

}
.main-recepie-one img{
 width: 100%;
}
.last-f{
  text-align: center;
  box-sizing: border-box;
  background: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 50px;
}
h3 span{
  color: orange;
}